
<!-- Mensaje si el carrito está vacío -->
<div class="alert alert-info mt-5" *ngIf="cartItems.length === 0">
  Tu carrito está vacío.
</div>



<div *ngIf="paymentSuccess" class="alert alert-success mt-5 text-center">
  ¡El pago se ha procesado con éxito!
</div>
<div class="container payment-page mt-5" *ngIf="cartItems.length > 0">
  <h1>Proceso de pago</h1>

  <!-- Recorremos los ítems del carrito -->
  <div *ngFor="let item of cartItems; let i = index" class="mb-4">
    <div class="row">
      <!-- Mostrar información del libro -->
      <div class="col-lg-6 text-center book-info">
        <img [src]="item.book.portada" alt="Portada del libro" class="img-fluid payment-cover">
        <h3 class="mt-3">{{ item.book.titulo }}</h3>
        <p><strong>Precio:</strong> {{ item.book.precio }}</p>

        <!-- Selector para elegir formato físico o digital -->
        <div class="form-group" *ngIf="item.book">
          <label for="formato-{{i}}">Formato:</label>
          <select class="form-control" [(ngModel)]="item.formato">
            <option value="físico">Físico</option>
            <option value="digital">Digital</option>
          </select>
        </div>
      </div>

       <!-- Opciones de pago -->
      <div class="col-lg-6 payment-options">
        <h3 class="mb-4">Opciones de Pago</h3>

        <div class="form-group">
          <label for="paymentMethod-{{i}}">Método de Pago:</label>
          <select class="form-control" id="paymentMethod-{{i}}" [(ngModel)]="item.metodoPago">
            <option value="credit-card">Tarjeta de crédito</option>
            <option value="bank-transfer">Transferencia bancaria</option>
          </select>
        </div>

        <!-- Detalles de tarjeta de crédito -->
        <div *ngIf="item.metodoPago === 'credit-card'" class="mt-3">
          <h5>Introduce los detalles de tu tarjeta</h5>

          <!-- Imágenes de las opciones de pago en contenedor -->
          <div class="payment-logo-container">
            <img src="https://s.cafebazaar.ir/images/icons/com.bcp.bank.bcp-4c84096e-fa83-4dfd-9ebf-877f687ca726_512x512.png?x-img=v1/resize,h_256,w_256,lossless_false/optimize" alt="BCP" class="payment-logo">
            <img src="https://api.gamefan.la/gateways/logos/interbank.png" alt="Interbank" class="payment-logo">
            <img src="https://cdn-icons-png.flaticon.com/256/196/196578.png" alt="Visa" class="payment-logo">
          </div>

          <!-- Formulario de tarjeta de crédito -->
          <div class="form-group">
            <label for="numeroTarjeta-{{i}}">Número de tarjeta</label>
            <input type="text" class="form-control" id="numeroTarjeta-{{i}}" placeholder="1234 5678 9012 3456" [(ngModel)]="item.numeroTarjeta" required maxlength="19">
          </div>

          <div class="form-group mt-2">
            <label for="fechaExpiracion-{{i}}">Fecha de expiración</label>
            <input type="text" class="form-control" id="fechaExpiracion-{{i}}" placeholder="MM/AA" [(ngModel)]="item.fechaExpiracion" required maxlength="5">
          </div>

          <div class="form-group mt-2">
            <label for="codigoSeguridad-{{i}}">Código de seguridad (CVV)</label>
            <input type="text" class="form-control" id="codigoSeguridad-{{i}}" placeholder="123" [(ngModel)]="item.codigoSeguridad" required maxlength="3">
          </div>
        </div>

        <!-- Instrucciones para transferencia bancaria -->
        <div *ngIf="item.metodoPago === 'bank-transfer'" class="mt-3">
          <h5>Instrucciones para transferencia bancaria</h5>
          <p>Realiza la transferencia al siguiente número de cuenta:</p>
          <p><strong>1234 5678 9012 3456</strong></p>
          <p>Envía el comprobante a: <strong>booksphere258&#64;gmail.com</strong></p>
        </div>

        <!-- Información de envío si el formato es físico -->
        <div *ngIf="item.formato === 'físico'" class="mt-3">
          <h5>Detalles de envío</h5>
          <input type="text" class="form-control mt-2" placeholder="Dirección" [(ngModel)]="item.direccionEnvio" required>
          <input type="text" class="form-control mt-2" placeholder="Ciudad" [(ngModel)]="item.ciudadEnvio" required>
          <input type="text" class="form-control mt-2" placeholder="País" [(ngModel)]="item.paisEnvio" required>
          <input type="text" class="form-control mt-2" placeholder="Código postal" [(ngModel)]="item.codigoPostalEnvio" required>
        </div>

        <!-- Botón de pago para cada libro -->
        <button class="btn btn-success mt-3" (click)="procesarPago(item)" [disabled]="!validarPago(item)">Pagar</button>
      </div>
    </div>
  </div>


