<div class="card">

  <img src="https://images.pexels.com/photos/415078/pexels-photo-415078.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">


  <div class="datas">
    <h5 class="title">Lorem, ipsum dolor.</h5>
    <p class="details">Lorem ipsum dolor sit amet.</p>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime error laudantium consectetur perspiciatis aut corrupti mollitia ducimus nostrum provident nam.</p>
    <button class="join-btn">Unirme</button>

  </div>


</div>
